<div id="logIn" class="text-center">
    <form id="logInForm" class="form-signin">
        <label for="userName" class="sr-only">User name: </label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="User name" required autofocus ng-model="userName">
        <label for="password" class="sr-only">Password: </label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required ng-model="password"><br>
        <input type="submit" value="Log in" class="btn btn-lg btn-primary btn-block" ng-click="clickLogIn(userName,password)">
    </form>
</div>